<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
  </head>
  <body>
    <h2>Add a new course</h2>
    <form class="" action="/create" method="post">
      {% csrf_token %}
      Name: <input type="text" name="name" value="">
      Description: <input type="text" name="description" value="">
      <input type="submit" name="" value="Add">
    </form>
    <br>
    <hr>
    <h2>Courses</h2>
    <table>
      <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Actions</th>
      </tr>
      {% for course in courses%}
      <tr>
        <td>{{ course.name }}</td>
        <td>{{ course.description }}</td>
        <td>{{ course.created_at }}</td>
        <td><a href="/remove/{{ course.id }}">Remove</a></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
